/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(41, 95, 194);
  --secondary-color: rgb(72, 166, 195);
  --black-white-color: rgb(255, 255, 255);
  --leftbar-color: #ffffff;
  --text-color: rgb(95, 95, 95);
  --sub-text-color: rgb(120, 120, 120);
  --text-color-active: rgb(19, 19, 19);
  --background-component: rgb(220, 220, 220);
  --sub-background-component: rgb(230, 230, 230);
  --border-color: rgba(0, 0, 0, 0.12)
}

[data-theme='dark'] {

}

body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.v-field .v-field__prepend-inner .v-icon {
  font-size: 18px;
  margin-top: 4px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: light) {

}
